<div>
    <h2 id="page-heading">
        <span>Card Brands</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-card-brand" [routerLink]="['/card-brand/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Card Brand
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cardBrands">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code</span></th>
            <th><span>Name</span></th>
            <th><span>Priority</span></th>
            <th><span>Url</span></th>
            <th><span>Phone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cardBrand of cardBrands ;trackBy: trackId">
                <td><a [routerLink]="['/card-brand', cardBrand.id, 'view' ]">{{cardBrand.id}}</a></td>
                <td>{{cardBrand.code}}</td>
                <td>{{cardBrand.name}}</td>
                <td>{{cardBrand.priority}}</td>
                <td>{{cardBrand.url}}</td>
                <td>{{cardBrand.phone}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/card-brand', cardBrand.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/card-brand', cardBrand.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'card-brand', { outlets: { popup: cardBrand.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
