<div>
    <h2 id="page-heading">
        <span>Banks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank" [routerLink]="['/bank/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Bank
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="banks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Swift Code</span></th>
            <th><span>Priority</span></th>
            <th><span>Url</span></th>
            <th><span>Phone</span></th>
            <th><span>Country Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bank of banks ;trackBy: trackId">
                <td><a [routerLink]="['/bank', bank.id, 'view' ]">{{bank.id}}</a></td>
                <td>{{bank.name}}</td>
                <td>{{bank.swiftCode}}</td>
                <td>{{bank.priority}}</td>
                <td>{{bank.url}}</td>
                <td>{{bank.phone}}</td>
                <td>{{bank.countryId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bank', bank.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank', bank.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bank', { outlets: { popup: bank.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
