<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bank-heading">Create or edit a Bank</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bank.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bank.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="bank.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_swiftCode">Swift Code</label>
                    <input type="text" class="form-control" name="swiftCode" id="field_swiftCode"
                        [(ngModel)]="bank.swiftCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_priority">Priority</label>
                    <input type="number" class="form-control" name="priority" id="field_priority"
                        [(ngModel)]="bank.priority" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="bank.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="bank.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_countryId">Country Id</label>
                    <input type="number" class="form-control" name="countryId" id="field_countryId"
                        [(ngModel)]="bank.countryId" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
